
tr:nth-child(odd) {
    background-color: #444444;
    color:rgb(255, 255, 255);
}
tr:nth-child(even) {
    background-color: #303030;
    color:rgb(255, 255, 255);
}
tr:nth-child(1) {
    background-color: #0f0f0f;
    color:rgb(255, 255, 255);
}
