<section class="section">

  <div class="b-table" id="revTable">
    <div class="table-wrapper has-mobile-cards">
      <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><font color="#fff">Username</font></th>
            <th><font color="#fff">Game Name</font></th>
            <th></th> <!-- Game Icon-->
            <th><font color="#fff">Description</font></th>
            <th><font color="#fff">Rating</font></th>
            <th><font color="#fff">Hours Played</font></th>
            <th><font color="#fff">Completion Status</font></th>
          </tr>
        </thead>

        <ng-container *ngFor="let review of reviews" ; let i=" index;">
          <tr>
            <td data-label="usename">{{review.username}}</td>
            <td data-label="gameName" id="gameName">{{review.gameName}}</td>
            <td data-label="imageUrl" id="imageUrl"><img src={{review.thumbnailURL}}></td>
            <td data-label="description"> {{review.description}} </td>
            <td data-label="rating"> {{review.rating}}/10 </td>
            <td data-label="hoursPlayed">{{review.hoursPlayed}} Hours</td>
            <td data-label="completionStatus">{{review.completionStatus}}</td>

            <!-- <button class="button is-small"
                        (click)="onDelete(review)"
                        [ngStyle]="{color: 'orange'}"
                >
                  Delete
                </button> -->
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</section>